<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=trademarks_path%>">Marcas</a>
  </li>
  <li class="breadcrumb-item active">Editar</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Editar Temporada</div>
    <div class="card-body">
      <%= render 'form', trademark: @trademark %>
      <div class="text-center">
      	<%= link_to 'Ver Categoría', @trademark, class: "d-block small mt-3" %>
        <%= link_to 'Volver', trademarks_path, class: "d-block small" %>
      </div>
    </div>
  </div>
</div>