<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Bellina</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=sizes_path%>">Talles</a>
  </li>
  <li class="breadcrumb-item active">Editar</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Editar Talles</div>
    <div class="card-body">
      <%= render 'form', size: @size %>
      <div class="text-center">
      	<%= link_to 'Ver Tamaño', @size, class: "d-block small mt-3" %>
        <%= link_to 'Volver', sizes_path, class: "d-block small" %>
      </div>
    </div>
  </div>
</div>