<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Bellina</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=colors_path%>">Colores</a>
  </li>
  <li class="breadcrumb-item active">Editar</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Editar Proveedor</div>
    <div class="card-body">
      <%= render 'form', color: @color %>
      <div class="text-center">
      	<%= link_to 'Ver Color', @color, class: "d-block small mt-3" %>
        <%= link_to 'Volver', colors_path, class: "d-block small" %>
      </div>
    </div>
  </div>
</div>