<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Tablero</a>
  </li>
  <li class="breadcrumb-item">
    <a href="<%=categories_path%>">Categorías</a>
  </li>
  <li class="breadcrumb-item active">Crear</li>
</ol>

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Crear Proveedor</div>
    <div class="card-body">
      <%= render 'form', category: @category %>
      <div class="text-center">
      	<%= link_to 'Volver', categories_path, class: "d-block small mt-3" %>
      </div>
    </div>
  </div>
</div>