<!-- Sidebar -->
<ul style="padding-top: 15px;" class="sidebar navbar-nav">
  
  <li class="nav-item">
    <a class="nav-link" href="/footwears">
      <i class="fa fa-fw fa-shopping-bag"></i>
      <span>Calzados</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categories">
      <i class="fa fa-fw fa-bars"></i>
      <span>Categorías</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/colors">
      <i class="fa fa-fw fa-paint-brush"></i>
      <span>Colores</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/trademarks">
      <i class="fa fa-fw fa-book"></i>
      <span>Marcas</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/providers">
      <i class="fa fa-fw fa-truck"></i>
      <span>Proveedores</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sizes">
      <i class="fa fa-fw fa-expand"></i>
      <span>Talles</span></a>
  </li>
</ul>